<%= stylesheet_link_tag 'forms.css' %>

<div class="edit_form_container">
  <div class="edit_form">

<h2 class="subtitle">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="input-container ic1">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-container ic2">
    <%= f.password_field :password, autocomplete: "new-password", class:"input", type:"text", placeholder:"New Password" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="input-container ic2">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input", placeholder:"Confirm Password" %>
  </div>

  <div class="input-container ic2">
    <%= f.password_field :current_password, autocomplete: "current-password", class:"input", placeholder:"Current Password" %>
  </div>
  <br>
<hr>
  <div>
    <%= f.submit "Update", class:"submit" %>
  </div>
<% end %>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"submit" %></p>

<%= link_to "Back", :back, class:"subtitle" %>
</div>
