<%= stylesheet_link_tag 'forms.css' %>
<div class="form_container">
  <div class="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="subtitle">Register</h2>


  <div class="input-container ic2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Email" %>
  </div>

  <div class="input-container ic2">
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class:"input", placeholder:"Password"%>
  </div>

  <div class="input-container ic2">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input", placeholder:"Confirm Password"%>
  </div>
<hr>
  <div>
    <%= f.submit "Sign up", class:"submit" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>
