<%= stylesheet_link_tag 'forms.css' %>
<div class="form_container">
<div class="new_book_form">
<% if current_page?(new_book_path) %>
<h2 class="subtitle">Create New</h2>
 <%else%>
<h2 class="subtitle">Edit Book</h2>
<%end %>
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-container ic2">
    <%= form.text_field :title, class:"input", placeholder:"Title"%>
  </div>
  <div class="input-container ic2">
  <%= form.text_field :author, class:"input", placeholder:"Author" %>
  </div>
  <div class="input-container ic2">
    <%= form.text_field :description, class:"info_input", placeholder:"Description" %>
  </div>

  <div class="input-container ic2">
  <label class="subtitle">Read</label>
    <%= form.check_box :read, placeholder:"Read" %>
  </div>
  <div class="input-container ic2">
    <%= form.text_field :pages, class:"input", placeholder:"Pages" %>
  </div>
  <div class="input-container ic2">
    <%= form.date_field :start, class:"input" %>
  </div>
  <div class="input-container ic2">
  <%= form.date_field :complete, class:"input" %>
  </div>



  <div class="input-container ic2">
  <div class="file">
  <h2 class="subtitle">Upload Cover Image</h2>
  <%= form.file_field :image, class:"image_input", placeholder:"Cover" %>
</div>
</div>

<hr>


  <div>
    <%= form.submit class:"submit" %>
  </div>
  <div>
  <br>
  <%= link_to "Show Book", @book, class:"devise_links" %> |
  <%= link_to "Back", books_path, class:"devise_links" %>
</div>
<% end %>
</div>
</div>
