<%= stylesheet_link_tag 'books.css' %>
<div class="table_responsive">
<table>
<thead>
  <tr>
  <th scope="col">Image</th>
  <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Description</th>
    <th scope="col">Read</th>
  </tr>
</thead>
<tbody>
  <% @books.each do |book| %>
    <% if book.user == current_user %>
      <% link_to 'Books', books_path %>
    <tr>
    <td>
    <%= image_tag(book.image) %>
    </td>
      <td>
       <%= link_to book.title, book %>
        <td><%= book.author %>
        </td>
        <td>
        <%= book.description %>
        </td>
        <td>
        <%= book.read %>
        </td>
    </tr>
  </tbody>
  <%end %>
<% end %>
</table>
</div>
<br>
<%= link_to 'Add Book', new_book_path %>


