<%= stylesheet_link_tag 'books.css' %>
<div class="table_responsive">
<table>
<thead>
  <tr>
  <th class="table_subtitle" scope="col">Cover</th>
  <th class="table_subtitle" scope="col">Title</th>
    <th class="table_subtitle" scope="col">Author</th>
    <th class="table_subtitle" scope="col">Read</th>
  </tr>
</thead>
<tbody>
  <% @books.each do |book| %>
    <% if book.user == current_user %>
      <% link_to 'Books', books_path %>
    <tr>
    <td>
    <%= link_to image_tag(book.image, class:"cover_image"), book %>
    </td>
      <td>
       <%= link_to book.title, book, class:"title_col"%>
        <td>
        <%= link_to book.author, book, class:"title_col"%>
        </td>
        <td>
        <% if book.read === true %>
        <%= image_tag('tick.png', class:'tick')%>
        <%else%>
        <%= image_tag('cross.png', class:'tick') %>
        <%end%>
        </td>
    </tr>
  </tbody>
    <%end %>
<% end %>

</table>
<br>
<%= link_to 'Add Book', new_book_path, class:"button-31" %>
</div>





