<table class="table table-striped table-hover table-bordered">
<thead class="table-dark">
  <tr>
  <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Description</th>
    <th scope="col">Read</th>
    <th scope="col">Cover</th>
  </tr>
</thead>
<tbody>
  <% @books.each do |book| %>
    <% if book.user == current_user %>
      <% link_to 'Books', books_path %>
    <tr>
      <td>
       <%= link_to book.title, book %>
        <td><%= book.author %>
        </td>
        <td>
        <%= book.description %>
        </td>
        <td>
        <%= book.read %>
        </td>
        <td>
        <%= image_tag(book.image, style:'width:100%') %>
        </td>
    </tr>
  </tbody>
  <%end %>
<% end %>
</table>
<br>
<%= link_to 'Add Book', new_book_path, class:"btn btn-secondary" %>

